@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities */
:root{
  --color-primary: #0f4c75;
  --color-accent: #ff6b6b;
  --color-paper: #f8f7f5;
  --color-deep: #1b262c;
}

html,body{height:100%}
body{font-family:Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; background:white; color:#0f172a;}

/* Container helper */
.container{max-width:1100px;margin-left:auto;margin-right:auto;padding-left:1rem;padding-right:1rem}
.hero-figure{max-width:500px;}


.medical-bg {
  background-image: url('/medical-bg.png'); /* rename your file & put inside /public */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 420px;   /* adjust size */
  opacity: 0.06;            /* soft faded watermark */
  pointer-events: none;
}

